@charset "UTF-8";
/* Variables generales del sitio */
/* Font de GoogleFonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap");
/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap");
/* Philomene */
/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #f3f3eb;
  overflow-x: hidden; }

/* Titulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chau Philomene One", sans-serif; }

/* Botones */
.boton {
  background-color: #f5c09d;
  border: none;
  max-width: 100%;
  padding: 10px;
  border-radius: 10px; }
  .boton a {
    background-color: #f5c09d;
    text-decoration: none;
    color: black;
    font-family: "Chau Philomene One", sans-serif; }

/* Secciones de la página INDEX */
/* Header */
header {
  position: sticky;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.382);
  z-index: 1;
  /* Sticky Header: el header siempre nos persigue */ }
  header div .barraDeAnuncios {
    background: #f7ebda;
    text-align: center;
    padding: 5px;
    font-family: "Chau Philomene One", sans-serif; }
  header nav .menu__item li a {
    color: black;
    text-decoration: none;
    /* Cambia el color del menú y quita el underline */ }
    header nav .menu__item li a:hover {
      border-bottom: dashed black 2px;
      /* Hover: Permite que cuando el cursor esta encima de la palabra, aparezaca el underline */ }

/* Banner - INDEX */
.bannerPrincipal {
  max-width: 100%;
  height: 70vh;
  background-image: url("../imagenes/Banner_Principal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bannerPrincipal .bannerPrincipal__contenedor {
    background-color: #f3f3ebe6;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .bannerPrincipal .bannerPrincipal__contenedor .bannerPrincipal__titulo {
      padding-bottom: 15px;
      background-color: rgba(0, 0, 0, 0);
      font-family: "Chau Philomene One", sans-serif;
      font-size: 40px; }
    .bannerPrincipal .bannerPrincipal__contenedor .bannerPrincipal__texto {
      padding-bottom: 15px;
      background-color: rgba(0, 0, 0, 0); }

/* Propuesta de Valor */
.propuestaDeValor {
  width: 70%;
  margin-inline: 15%;
  margin-block: 50px;
  text-align: center; }
  .propuestaDeValor .propuestaDeValor__titulo {
    padding-bottom: 20px; }
  .propuestaDeValor .propuestaDeValor__texto {
    padding-bottom: 20px; }

.portafolio {
  padding: 20px 40px 20px 40px;
  border: 3px black dashed;
  border-radius: 10px;
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px; }
  .portafolio .portafolio__titulo {
    text-align: center;
    padding-bottom: 20px; }
  .portafolio .accordion .portafolio__contenedor {
    display: flex;
    align-items: center; }
    .portafolio .accordion .portafolio__contenedor img {
      width: 80%;
      height: auto;
      border-radius: 10px; }
    .portafolio .accordion .portafolio__contenedor .portafolio__descripcion {
      padding: 40px;
      text-align: center;
      width: 90%; }
      .portafolio .accordion .portafolio__contenedor .portafolio__descripcion .portafolio__proyecto {
        padding-bottom: 20px; }
      .portafolio .accordion .portafolio__contenedor .portafolio__descripcion .portafolio__texto {
        padding-bottom: 20px; }

/* Nosotros */
.nosotros {
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  display: flex; }
  .nosotros img {
    width: auto;
    height: auto;
    border-radius: 10px; }
  .nosotros .nosotros__descripcion {
    padding: 40px;
    text-align: center; }
    .nosotros .nosotros__descripcion .nosotros__titulo {
      padding-bottom: 20px; }
    .nosotros .nosotros__descripcion .nosotros__texto {
      padding-bottom: 20px; }

/* Servicios */
.servicios {
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  display: flex; }
  .servicios img {
    width: auto;
    height: auto;
    border-radius: 10px; }
  .servicios .servicios__descripcion {
    padding: 40px;
    text-align: center; }
    .servicios .servicios__descripcion .servicios__titulo {
      padding-bottom: 20px; }
    .servicios .servicios__descripcion .servicios__texto {
      padding-bottom: 20px; }

.callToAction {
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  text-align: center; }
  .callToAction .callToAction__titulo,
  .callToAction .callToAction__texto,
  .callToAction .callToAction__boton {
    padding-bottom: 20px; }

footer .footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  footer .footer .logoFooter {
    width: 20%;
    margin-inline: 10px; }
  footer .footer .links {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .links .links__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
    footer .footer .links .links__menu {
      list-style-type: none;
      padding-left: 0px; }
      footer .footer .links .links__menu .links__menu__item {
        padding-block: 2.5px; }
        footer .footer .links .links__menu .links__menu__item a {
          color: black;
          text-decoration: none;
          /* Cambia el color del menú y quita el underline */ }
  footer .footer .horario {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .horario .horario__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
  footer .footer .suscribete {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .suscribete .suscribete__titulo {
      padding-bottom: 5px;
      font-size: 20px; }

footer .copy {
  text-align: center;
  font-size: 10px; }

/* Secciones de la página NOSOTROS */
/* Header */
header {
  position: sticky;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.382);
  z-index: 1;
  /* Sticky Header: el header siempre nos persigue */ }
  header div .barraDeAnuncios {
    background: #f7ebda;
    text-align: center;
    padding: 5px;
    font-family: "Chau Philomene One", sans-serif; }
  header nav .menu__item li a {
    color: black;
    text-decoration: none;
    /* Cambia el color del menú y quita el underline */ }
    header nav .menu__item li a:hover {
      border-bottom: dashed black 2px;
      /* Hover: Permite que cuando el cursor esta encima de la palabra, aparezaca el underline */ }

/* Banner - NOSOTROS */
.bannerNosotros {
  width: 100%;
  height: 60vh;
  background-image: url("../imagenes/Banner_Servicios.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bannerNosotros .bannerNosotros__contenedor {
    background-color: #f3f3ebe6;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .bannerNosotros .bannerNosotros__contenedor .bannerNosotros__titulo {
      padding-bottom: 15px;
      background-color: rgba(0, 0, 0, 0);
      font-family: "Chau Philomene One", sans-serif;
      font-size: 40px;
      -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* Animacion - Texto Titulos */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

/* Acerca de nosotros */
.acercaDeNosotros {
  width: 70%;
  margin-inline: 15%;
  margin-block: 50px;
  text-align: center; }
  .acercaDeNosotros .acercaDeNosotros__titulo {
    padding-bottom: 20px; }
  .acercaDeNosotros .acercaDeNosotros__texto {
    padding-bottom: 20px; }

/* Nuestro equipo de trabajo */
.equipoDeTrabajo__titulo {
  text-align: center;
  padding-bottom: 20px; }
  .equipoDeTrabajo__titulo .equipoDeTrabajo__contenedor {
    width: 80vw;
    margin-inline: 10vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "persona1 persona2 persona3"; }
    .equipoDeTrabajo__titulo .equipoDeTrabajo__contenedor .equipoDeTrabajo__persona {
      display: flex;
      flex-direction: column;
      text-align: center; }
      .equipoDeTrabajo__titulo .equipoDeTrabajo__contenedor .equipoDeTrabajo__persona div img {
        width: 80%;
        border-radius: 50%;
        overflow: hidden; }
      .equipoDeTrabajo__titulo .equipoDeTrabajo__contenedor .equipoDeTrabajo__persona h3 {
        padding-top: 20px;
        overflow: hidden; }
      .equipoDeTrabajo__titulo .equipoDeTrabajo__contenedor .equipoDeTrabajo__persona p {
        padding-top: 20px;
        overflow: hidden; }
  .equipoDeTrabajo__titulo .persona1 {
    grid-area: persona1; }
    .equipoDeTrabajo__titulo .persona1 div img {
      -webkit-animation: roll-in-left 0.6s ease-out both;
      animation: roll-in-left 0.6s ease-out both;
      animation-delay: 2.5s; }
  .equipoDeTrabajo__titulo .persona2 {
    grid-area: persona2; }
    .equipoDeTrabajo__titulo .persona2 div img {
      -webkit-animation: roll-in-left 0.6s ease-out both;
      animation: roll-in-left 0.6s ease-out both;
      animation-delay: 2s; }
  .equipoDeTrabajo__titulo .persona3 {
    grid-area: persona3; }
    .equipoDeTrabajo__titulo .persona3 div img {
      -webkit-animation: roll-in-left 0.6s ease-out both;
      animation: roll-in-left 0.6s ease-out both;
      animation-delay: 1.5s; }

/* Animista - Animacion Roll-in */
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

/* Nuestra Filosofia */
.nuestraFilosofia {
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  border: 3px black dashed;
  border-radius: 10px;
  padding: 20px;
  display: flex; }
  .nuestraFilosofia img {
    width: auto;
    height: auto;
    border-radius: 10px; }
  .nuestraFilosofia .nuestraFilosofia__descripcion {
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .nuestraFilosofia .nuestraFilosofia__descripcion .nuestraFilosofia__titulo {
      padding-bottom: 20px; }
    .nuestraFilosofia .nuestraFilosofia__descripcion .nuestraFilosofia__texto {
      padding-bottom: 20px; }

/* Valores */
.valores {
  width: 80vw;
  margin-inline: 10vw;
  display: grid;
  text-align: center;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "valor1 valor2 valor3 valor4"; }
  .valores .valores__valor img {
    width: 80%; }
  .valores .valor1 {
    grid-area: valor1; }
    .valores .valor1 h3 {
      overflow: hidden; }
  .valores .valor2 {
    grid-area: valor2; }
    .valores .valor2 h3 {
      overflow: hidden; }
  .valores .valor3 {
    grid-area: valor3; }
    .valores .valor3 h3 {
      overflow: hidden; }
  .valores .valor4 {
    grid-area: valor4; }
    .valores .valor4 h3 {
      overflow: hidden; }

.callToAction {
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  text-align: center; }
  .callToAction .callToAction__titulo,
  .callToAction .callToAction__texto,
  .callToAction .callToAction__boton {
    padding-bottom: 20px; }

footer .footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  footer .footer .logoFooter {
    width: 20%;
    margin-inline: 10px; }
  footer .footer .links {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .links .links__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
    footer .footer .links .links__menu {
      list-style-type: none;
      padding-left: 0px; }
      footer .footer .links .links__menu .links__menu__item {
        padding-block: 2.5px; }
        footer .footer .links .links__menu .links__menu__item a {
          color: black;
          text-decoration: none;
          /* Cambia el color del menú y quita el underline */ }
  footer .footer .horario {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .horario .horario__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
  footer .footer .suscribete {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .suscribete .suscribete__titulo {
      padding-bottom: 5px;
      font-size: 20px; }

footer .copy {
  text-align: center;
  font-size: 10px; }

/* Secciones de la página SERVICIOS */
/* Header */
header {
  position: sticky;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.382);
  z-index: 1;
  /* Sticky Header: el header siempre nos persigue */ }
  header div .barraDeAnuncios {
    background: #f7ebda;
    text-align: center;
    padding: 5px;
    font-family: "Chau Philomene One", sans-serif; }
  header nav .menu__item li a {
    color: black;
    text-decoration: none;
    /* Cambia el color del menú y quita el underline */ }
    header nav .menu__item li a:hover {
      border-bottom: dashed black 2px;
      /* Hover: Permite que cuando el cursor esta encima de la palabra, aparezaca el underline */ }

/* Banner - SERVICIOS */
.bannerServicios {
  width: 100%;
  height: 60vh;
  background-image: url("../imagenes/Banner_Servicios.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bannerServicios .bannerServicios__contenedor {
    background-color: #f3f3ebe6;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .bannerServicios .bannerServicios__contenedor .bannerServicios__titulo {
      padding-bottom: 15px;
      background-color: rgba(0, 0, 0, 0);
      font-family: "Chau Philomene One", sans-serif;
      font-size: 40px;
      -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* Animacion - Texto Titulos */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

.servicio {
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  display: flex;
  /* Esto permite que podamos poner la imagen de un lado y el texto al otro lado */ }
  .servicio img {
    width: auto;
    height: auto;
    border-radius: 10px; }
  .servicio .servicio__descripcion {
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .servicio .servicio__descripcion .servicio__titulo {
      padding-bottom: 20px; }

.callToAction {
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  text-align: center; }
  .callToAction .callToAction__titulo,
  .callToAction .callToAction__texto,
  .callToAction .callToAction__boton {
    padding-bottom: 20px; }

footer .footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  footer .footer .logoFooter {
    width: 20%;
    margin-inline: 10px; }
  footer .footer .links {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .links .links__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
    footer .footer .links .links__menu {
      list-style-type: none;
      padding-left: 0px; }
      footer .footer .links .links__menu .links__menu__item {
        padding-block: 2.5px; }
        footer .footer .links .links__menu .links__menu__item a {
          color: black;
          text-decoration: none;
          /* Cambia el color del menú y quita el underline */ }
  footer .footer .horario {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .horario .horario__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
  footer .footer .suscribete {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .suscribete .suscribete__titulo {
      padding-bottom: 5px;
      font-size: 20px; }

footer .copy {
  text-align: center;
  font-size: 10px; }

/* Secciones de la página PORTAFOLIO */
/* Header */
header {
  position: sticky;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.382);
  z-index: 1;
  /* Sticky Header: el header siempre nos persigue */ }
  header div .barraDeAnuncios {
    background: #f7ebda;
    text-align: center;
    padding: 5px;
    font-family: "Chau Philomene One", sans-serif; }
  header nav .menu__item li a {
    color: black;
    text-decoration: none;
    /* Cambia el color del menú y quita el underline */ }
    header nav .menu__item li a:hover {
      border-bottom: dashed black 2px;
      /* Hover: Permite que cuando el cursor esta encima de la palabra, aparezaca el underline */ }

/* Banner - PORTAFOLIO */
.bannerPortafolio {
  width: 100%;
  height: 60vh;
  background-image: url("../imagenes/Banner_Servicios.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bannerPortafolio .bannerPortafolio__contenedor {
    background-color: #f3f3ebe6;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .bannerPortafolio .bannerPortafolio__contenedor .bannerPortafolio__titulo {
      padding-bottom: 15px;
      background-color: rgba(0, 0, 0, 0);
      font-family: "Chau Philomene One", sans-serif;
      font-size: 40px;
      -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* Animacion - Texto Titulos */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

/* Nuestro Portafolio */
.nuestroPortafolio {
  width: 70%;
  margin-inline: 15%;
  margin-block: 50px;
  text-align: center; }
  .nuestroPortafolio .nuestroPortafolio__titulo {
    padding-bottom: 20px; }
  .nuestroPortafolio .nuestroPortafolio__texto {
    padding-bottom: 20px; }

/* Proyectos */
.proyectos {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "proyecto1 proyecto2" "proyecto3 proyecto4"; }
  .proyectos .proyectos__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 5vw;
    margin-bottom: 20px; }
    .proyectos .proyectos__contenedor a img {
      width: 100%;
      border: 3px black dashed;
      border-radius: 5px;
      transition-duration: 1s; }
    .proyectos .proyectos__contenedor h3 {
      padding-top: 10px;
      overflow: hidden; }
  .proyectos .proyecto1 {
    grid-area: proyecto1; }
    .proyectos .proyecto1 a img:hover {
      transform: scale(0.95); }
  .proyectos .proyecto2 {
    grid-area: proyecto2; }
    .proyectos .proyecto2 a img:hover {
      transform: scale(0.95); }
  .proyectos .proyecto3 {
    grid-area: proyecto3; }
    .proyectos .proyecto3 a img:hover {
      transform: scale(0.95); }
  .proyectos .proyecto4 {
    grid-area: proyecto4; }
    .proyectos .proyecto4 a img:hover {
      transform: scale(0.95); }

.callToAction {
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  text-align: center; }
  .callToAction .callToAction__titulo,
  .callToAction .callToAction__texto,
  .callToAction .callToAction__boton {
    padding-bottom: 20px; }

footer .footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  footer .footer .logoFooter {
    width: 20%;
    margin-inline: 10px; }
  footer .footer .links {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .links .links__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
    footer .footer .links .links__menu {
      list-style-type: none;
      padding-left: 0px; }
      footer .footer .links .links__menu .links__menu__item {
        padding-block: 2.5px; }
        footer .footer .links .links__menu .links__menu__item a {
          color: black;
          text-decoration: none;
          /* Cambia el color del menú y quita el underline */ }
  footer .footer .horario {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .horario .horario__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
  footer .footer .suscribete {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .suscribete .suscribete__titulo {
      padding-bottom: 5px;
      font-size: 20px; }

footer .copy {
  text-align: center;
  font-size: 10px; }

/* Secciones de la página CONTACTANOS */
/* Header */
header {
  position: sticky;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.382);
  z-index: 1;
  /* Sticky Header: el header siempre nos persigue */ }
  header div .barraDeAnuncios {
    background: #f7ebda;
    text-align: center;
    padding: 5px;
    font-family: "Chau Philomene One", sans-serif; }
  header nav .menu__item li a {
    color: black;
    text-decoration: none;
    /* Cambia el color del menú y quita el underline */ }
    header nav .menu__item li a:hover {
      border-bottom: dashed black 2px;
      /* Hover: Permite que cuando el cursor esta encima de la palabra, aparezaca el underline */ }

/* Formulario */
main .contactanosTitulo {
  text-align: center;
  font-size: 40px;
  overflow: hidden; }

main .contactanosDescripcion {
  text-align: center;
  overflow: hidden; }

main section .contactanosInfo {
  text-align: center;
  overflow: hidden; }

main section .contactanosForm {
  text-align: center;
  overflow: hidden; }

/* Mapa */
.mapa {
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  display: flex; }
  .mapa img {
    width: auto;
    height: auto;
    border-radius: 10px; }
  .mapa .mapa__descripcion {
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .mapa .mapa__descripcion .mapa__titulo {
      padding-bottom: 20px; }
    .mapa .mapa__descripcion .mapa__texto {
      padding-bottom: 20px; }

footer .footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  footer .footer .logoFooter {
    width: 20%;
    margin-inline: 10px; }
  footer .footer .links {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .links .links__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
    footer .footer .links .links__menu {
      list-style-type: none;
      padding-left: 0px; }
      footer .footer .links .links__menu .links__menu__item {
        padding-block: 2.5px; }
        footer .footer .links .links__menu .links__menu__item a {
          color: black;
          text-decoration: none;
          /* Cambia el color del menú y quita el underline */ }
  footer .footer .horario {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .horario .horario__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
  footer .footer .suscribete {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .suscribete .suscribete__titulo {
      padding-bottom: 5px;
      font-size: 20px; }

footer .copy {
  text-align: center;
  font-size: 10px; }

/* Secciones de la página PROYECTO1 */
/* Header */
header {
  position: sticky;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.382);
  z-index: 1;
  /* Sticky Header: el header siempre nos persigue */ }
  header div .barraDeAnuncios {
    background: #f7ebda;
    text-align: center;
    padding: 5px;
    font-family: "Chau Philomene One", sans-serif; }
  header nav .menu__item li a {
    color: black;
    text-decoration: none;
    /* Cambia el color del menú y quita el underline */ }
    header nav .menu__item li a:hover {
      border-bottom: dashed black 2px;
      /* Hover: Permite que cuando el cursor esta encima de la palabra, aparezaca el underline */ }

/* Banner - PROYECTO1 */
.bannerProyecto1 {
  height: 80vh;
  background-image: url(../imagenes/BrandStudio_Proyecto1/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bannerProyecto1 .bannerProyecto__contenedor {
    background-color: #f3f3ebe6;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .bannerProyecto1 .bannerProyecto__contenedor .bannerProyecto__titulo {
      padding-bottom: 15px;
      background-color: rgba(0, 0, 0, 0);
      font-family: "Chau Philomene One", sans-serif;
      font-size: 40px;
      -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* Animacion - Texto Titulos */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

/* Descripción del Proyecto */
.descripcionProyecto {
  width: 70%;
  margin-inline: 15%;
  margin-block: 50px;
  text-align: center; }
  .descripcionProyecto .descripcionProyecto__texto {
    padding-bottom: 20px; }

/* Grid Galería 1 */
.gridGaleria1 {
  width: 80vw;
  margin-inline: 10vw;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "G1F1 G1F1 G1F2 G1F3" "G1F1 G1F1 G1F4 G1F4" "G1F5 G1F5 G1F6 G1F6" "G1F7 G1F7 G1F6 G1F6"; }
  .gridGaleria1 .galeria {
    display: flex;
    justify-content: center;
    border: 1px solid black; }
    .gridGaleria1 .galeria img {
      object-fit: cover;
      width: 100%; }
  .gridGaleria1 .G1F1 {
    grid-area: G1F1; }
  .gridGaleria1 .G1F2 {
    grid-area: G1F2; }
  .gridGaleria1 .G1F3 {
    grid-area: G1F3; }
  .gridGaleria1 .G1F4 {
    grid-area: G1F4; }
  .gridGaleria1 .G1F5 {
    grid-area: G1F5; }
  .gridGaleria1 .G1F6 {
    grid-area: G1F6; }
  .gridGaleria1 .G1F7 {
    grid-area: G1F7; }

.callToAction {
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  text-align: center; }
  .callToAction .callToAction__titulo,
  .callToAction .callToAction__texto,
  .callToAction .callToAction__boton {
    padding-bottom: 20px; }

footer .footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  footer .footer .logoFooter {
    width: 20%;
    margin-inline: 10px; }
  footer .footer .links {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .links .links__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
    footer .footer .links .links__menu {
      list-style-type: none;
      padding-left: 0px; }
      footer .footer .links .links__menu .links__menu__item {
        padding-block: 2.5px; }
        footer .footer .links .links__menu .links__menu__item a {
          color: black;
          text-decoration: none;
          /* Cambia el color del menú y quita el underline */ }
  footer .footer .horario {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .horario .horario__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
  footer .footer .suscribete {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .suscribete .suscribete__titulo {
      padding-bottom: 5px;
      font-size: 20px; }

footer .copy {
  text-align: center;
  font-size: 10px; }

/* Secciones de la página PROYECTO2 */
/* Header */
header {
  position: sticky;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.382);
  z-index: 1;
  /* Sticky Header: el header siempre nos persigue */ }
  header div .barraDeAnuncios {
    background: #f7ebda;
    text-align: center;
    padding: 5px;
    font-family: "Chau Philomene One", sans-serif; }
  header nav .menu__item li a {
    color: black;
    text-decoration: none;
    /* Cambia el color del menú y quita el underline */ }
    header nav .menu__item li a:hover {
      border-bottom: dashed black 2px;
      /* Hover: Permite que cuando el cursor esta encima de la palabra, aparezaca el underline */ }

/* Banner - PROYECTO1 */
.bannerProyecto2 {
  height: 80vh;
  background-image: url(../imagenes/BrandStudio_Proyecto2/6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bannerProyecto2 .bannerProyecto__contenedor {
    background-color: #f3f3ebe6;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .bannerProyecto2 .bannerProyecto__contenedor .bannerProyecto__titulo {
      padding-bottom: 15px;
      background-color: rgba(0, 0, 0, 0);
      font-family: "Chau Philomene One", sans-serif;
      font-size: 40px;
      -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* Animacion - Texto Titulos */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

/* Descripción del Proyecto */
.descripcionProyecto {
  width: 70%;
  margin-inline: 15%;
  margin-block: 50px;
  text-align: center; }
  .descripcionProyecto .descripcionProyecto__texto {
    padding-bottom: 20px; }

/* Grid Galería 2 */
.gridGaleria2 {
  width: 80vw;
  margin-inline: 10vw;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "G2F1 G2F1 G2F2 G2F2" "G2F3 G2F3 G2F2 G2F2" "G2F4 G2F4 G2F5 G2F5" "G2F4 G2F4 G2F6 G2F7"; }
  .gridGaleria2 .galeria {
    display: flex;
    justify-content: center;
    border: 1px solid black; }
    .gridGaleria2 .galeria img {
      object-fit: cover;
      width: 100%; }
  .gridGaleria2 .G2F1 {
    grid-area: G2F1; }
  .gridGaleria2 .G2F2 {
    grid-area: G2F2; }
  .gridGaleria2 .G2F3 {
    grid-area: G2F3; }
  .gridGaleria2 .G2F4 {
    grid-area: G2F4; }
  .gridGaleria2 .G2F5 {
    grid-area: G2F5; }
  .gridGaleria2 .G2F6 {
    grid-area: G2F6; }
  .gridGaleria2 .G2F7 {
    grid-area: G2F7; }

.callToAction {
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  text-align: center; }
  .callToAction .callToAction__titulo,
  .callToAction .callToAction__texto,
  .callToAction .callToAction__boton {
    padding-bottom: 20px; }

footer .footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  footer .footer .logoFooter {
    width: 20%;
    margin-inline: 10px; }
  footer .footer .links {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .links .links__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
    footer .footer .links .links__menu {
      list-style-type: none;
      padding-left: 0px; }
      footer .footer .links .links__menu .links__menu__item {
        padding-block: 2.5px; }
        footer .footer .links .links__menu .links__menu__item a {
          color: black;
          text-decoration: none;
          /* Cambia el color del menú y quita el underline */ }
  footer .footer .horario {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .horario .horario__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
  footer .footer .suscribete {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .suscribete .suscribete__titulo {
      padding-bottom: 5px;
      font-size: 20px; }

footer .copy {
  text-align: center;
  font-size: 10px; }

/* Secciones de la página PROYECTO3 */
/* Header */
header {
  position: sticky;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.382);
  z-index: 1;
  /* Sticky Header: el header siempre nos persigue */ }
  header div .barraDeAnuncios {
    background: #f7ebda;
    text-align: center;
    padding: 5px;
    font-family: "Chau Philomene One", sans-serif; }
  header nav .menu__item li a {
    color: black;
    text-decoration: none;
    /* Cambia el color del menú y quita el underline */ }
    header nav .menu__item li a:hover {
      border-bottom: dashed black 2px;
      /* Hover: Permite que cuando el cursor esta encima de la palabra, aparezaca el underline */ }

/* Banner - PROYECTO3 */
.bannerProyecto3 {
  height: 80vh;
  background-image: url(../imagenes/BrandStudio_Proyecto3/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bannerProyecto3 .bannerProyecto__contenedor {
    background-color: #f3f3ebe6;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .bannerProyecto3 .bannerProyecto__contenedor .bannerProyecto__titulo {
      padding-bottom: 15px;
      background-color: rgba(0, 0, 0, 0);
      font-family: "Chau Philomene One", sans-serif;
      font-size: 40px;
      -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* Animacion - Texto Titulos */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

/* Descripción del Proyecto */
.descripcionProyecto {
  width: 70%;
  margin-inline: 15%;
  margin-block: 50px;
  text-align: center; }
  .descripcionProyecto .descripcionProyecto__texto {
    padding-bottom: 20px; }

/* Grid Galería 3 */
.gridGaleria3 {
  width: 80vw;
  margin-inline: 10vw;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "G3F1 G3F1 G3F2 G3F2" "G3F1 G3F1 G3F2 G3F2" "G3F3 G3F3 G3F4 G3F4" "G3F3 G3F3 G3F5 G3F5"; }
  .gridGaleria3 .galeria {
    display: flex;
    justify-content: center;
    border: 1px solid black; }
    .gridGaleria3 .galeria img {
      object-fit: cover;
      width: 100%; }
  .gridGaleria3 .G3F1 {
    grid-area: G3F1; }
  .gridGaleria3 .G3F2 {
    grid-area: G3F2; }
  .gridGaleria3 .G3F3 {
    grid-area: G3F3; }
  .gridGaleria3 .G3F4 {
    grid-area: G3F4; }
  .gridGaleria3 .G3F5 {
    grid-area: G3F5; }

.callToAction {
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  text-align: center; }
  .callToAction .callToAction__titulo,
  .callToAction .callToAction__texto,
  .callToAction .callToAction__boton {
    padding-bottom: 20px; }

footer .footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  footer .footer .logoFooter {
    width: 20%;
    margin-inline: 10px; }
  footer .footer .links {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .links .links__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
    footer .footer .links .links__menu {
      list-style-type: none;
      padding-left: 0px; }
      footer .footer .links .links__menu .links__menu__item {
        padding-block: 2.5px; }
        footer .footer .links .links__menu .links__menu__item a {
          color: black;
          text-decoration: none;
          /* Cambia el color del menú y quita el underline */ }
  footer .footer .horario {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .horario .horario__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
  footer .footer .suscribete {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .suscribete .suscribete__titulo {
      padding-bottom: 5px;
      font-size: 20px; }

footer .copy {
  text-align: center;
  font-size: 10px; }

/* Secciones de la página PROYECTO4 */
/* Header */
header {
  position: sticky;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.382);
  z-index: 1;
  /* Sticky Header: el header siempre nos persigue */ }
  header div .barraDeAnuncios {
    background: #f7ebda;
    text-align: center;
    padding: 5px;
    font-family: "Chau Philomene One", sans-serif; }
  header nav .menu__item li a {
    color: black;
    text-decoration: none;
    /* Cambia el color del menú y quita el underline */ }
    header nav .menu__item li a:hover {
      border-bottom: dashed black 2px;
      /* Hover: Permite que cuando el cursor esta encima de la palabra, aparezaca el underline */ }

/* Banner - PROYECTO4 */
.bannerProyecto4 {
  height: 80vh;
  background-image: url(../imagenes/BrandStudio_Proyecto4/14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bannerProyecto4 .bannerProyecto__contenedor {
    background-color: #f3f3ebe6;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .bannerProyecto4 .bannerProyecto__contenedor .bannerProyecto__titulo {
      padding-bottom: 15px;
      background-color: rgba(0, 0, 0, 0);
      font-family: "Chau Philomene One", sans-serif;
      font-size: 40px;
      -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* Animacion - Texto Titulos */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

/* Descripción del Proyecto */
.descripcionProyecto {
  width: 70%;
  margin-inline: 15%;
  margin-block: 50px;
  text-align: center; }
  .descripcionProyecto .descripcionProyecto__texto {
    padding-bottom: 20px; }

/* Grid Galería 4 */
.gridGaleria4 {
  width: 80vw;
  margin-inline: 10vw;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "G4F1 G4F1 G4F3 G4F3" "G4F2 G4F4 G4F3 G4F3" "G4F5 G4F5 G4F6 G4F6" "G4F5 G4F5 G4F7 G4F7"; }
  .gridGaleria4 .galeria {
    display: flex;
    justify-content: center;
    border: 1px solid black; }
    .gridGaleria4 .galeria img {
      object-fit: cover;
      width: 100%; }
  .gridGaleria4 .G4F1 {
    grid-area: G4F1; }
  .gridGaleria4 .G4F2 {
    grid-area: G4F2; }
  .gridGaleria4 .G4F3 {
    grid-area: G4F3; }
  .gridGaleria4 .G4F4 {
    grid-area: G4F4; }
  .gridGaleria4 .G4F5 {
    grid-area: G4F5; }
  .gridGaleria4 .G4F6 {
    grid-area: G4F6; }
  .gridGaleria4 .G4F7 {
    grid-area: G4F7; }

.callToAction {
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  text-align: center; }
  .callToAction .callToAction__titulo,
  .callToAction .callToAction__texto,
  .callToAction .callToAction__boton {
    padding-bottom: 20px; }

footer .footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  footer .footer .logoFooter {
    width: 20%;
    margin-inline: 10px; }
  footer .footer .links {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .links .links__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
    footer .footer .links .links__menu {
      list-style-type: none;
      padding-left: 0px; }
      footer .footer .links .links__menu .links__menu__item {
        padding-block: 2.5px; }
        footer .footer .links .links__menu .links__menu__item a {
          color: black;
          text-decoration: none;
          /* Cambia el color del menú y quita el underline */ }
  footer .footer .horario {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .horario .horario__titulo {
      padding-bottom: 5px;
      font-size: 20px; }
  footer .footer .suscribete {
    width: 20%;
    margin-inline: 10px; }
    footer .footer .suscribete .suscribete__titulo {
      padding-bottom: 5px;
      font-size: 20px; }

footer .copy {
  text-align: center;
  font-size: 10px; }

/* BOOTSTRAP */
/* Bootstrap --------- */
/* Info y Contáctanos */
.accordion-button {
  color: inherit;
  background-color: #f7ebda; }
  .accordion-button:not(.collapsed) {
    color: inherit;
    background-color: #f5c09d; }

/* Carousel */
.testimonio .testimonio__titulo {
  overflow: hidden; }

.testimonio .carouselExampleIndicators .carousel-indicators {
  background: black;
  opacity: 0; }

.testimonio .carouselExampleIndicators .carousel-inner .carousel-item {
  height: 40vh;
  min-height: 30vh;
  background: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden; }
  .testimonio .carouselExampleIndicators .carousel-inner .carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.1; }
  .testimonio .carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption {
    padding-inline: 100px;
    color: black;
    border-radius: 15px; }
    .testimonio .carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h2 {
      overflow: hidden; }

.testimonio .carouselExampleIndicators .carousel-control-prev .carousel-control-prev-icon {
  background-color: black; }

.testimonio .carouselExampleIndicators .carousel-control-next .carousel-control-next-icon {
  background-color: black; }

/* Medias Queries */
/* Para Tablets ---------*/
@media screen and (max-width: 768px) {
  /* General */
  p {
    font-size: 15px; }
  /* Banner */
  .bannerServicios {
    width: 100%;
    height: 30vh; }
  /* Sección de servicios */
  .servicio img {
    width: 50%; }
  .servicio .servicio__descripcion {
    width: 50%; } }

/* Para Celulares --------- */
@media screen and (max-width: 480px) {
  /* General */
  p {
    font-size: 14px; }
  /* Banner */
  .bannerServicios {
    width: 100%;
    height: 30vh; }
  /* Seccion de servicios */
  .servicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .servicio img {
      width: 100%;
      order: -1; }
    .servicio .servicio__descripcion {
      width: 100%;
      flex: 0; }
      .servicio .servicio__descripcion .servicio__titulo {
        padding-top: 20px; }
  /* Footer */
  .footer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; }
    .footer .logoFooter {
      width: 80vw !important;
      text-align: center;
      padding-top: 20px;
      padding: 0; }
      .footer .logoFooter img {
        width: 150px; }
    .footer .links {
      width: 80vw !important;
      text-align: center;
      padding-top: 20px; }
    .footer .horario {
      width: 80vw !important;
      text-align: center;
      padding-top: 20px; }
    .footer .suscribete {
      width: 80vw !important;
      text-align: center;
      padding-top: 20px; } }
