/* Variables generales del sitio */
@import "./variables/fonts";
@import "./variables/colores";
@import "./variables/reset";
@import "./variables/generales";

/* Secciones de la página INDEX */
@import "./secciones/header";
@import "./secciones/IndexBanner";
@import "./secciones/IndexPropuestaDeValor";
@import "./secciones/IndexNuestroPortafolio";
@import "./secciones/IndexNosotrosServicios";
@import "./secciones/calltoaction";
@import "./secciones/footer";

/* Secciones de la página NOSOTROS */
@import "./secciones/header";
@import "./secciones/NosotrosBanner";
@import "./secciones/NosotrosAcercaDeNosotros";
@import "./secciones/NosotrosNuestroEquipo";
@import "./secciones/NosotrosNuestraFilosofia";
@import "./secciones/NosotrosValores";
@import "./secciones/calltoaction";
@import "./secciones/footer";

/* Secciones de la página SERVICIOS */
@import "./secciones/header";
@import "./secciones/ServiciosBanner";
@import "./secciones/ServiciosServicios";
@import "./secciones/calltoaction";
@import "./secciones/footer";

/* Secciones de la página PORTAFOLIO */
@import "./secciones/header";
@import "./secciones/PortafolioBanner";
@import "./secciones/PortafolioNuestroPortafolio";
@import "./secciones/PortafolioProyectos";
@import "./secciones/calltoaction";
@import "./secciones/footer";

/* Secciones de la página CONTACTANOS */
@import "./secciones/header";
@import "./secciones/ContactanosFormulario";
@import "./secciones/ContactanosMapa";
@import "./secciones/footer";

/* Secciones de la página PROYECTO1 */
@import "./secciones/header";
@import "./secciones/Proyecto1Banner";
@import "./secciones/ProyectoDescripcion";
@import "./secciones/Proyecto1GridGaleria";
@import "./secciones/calltoaction";
@import "./secciones/footer";

/* Secciones de la página PROYECTO2 */
@import "./secciones/header";
@import "./secciones/Proyecto2Banner";
@import "./secciones/ProyectoDescripcion";
@import "./secciones/Proyecto2GridGaleria";
@import "./secciones/calltoaction";
@import "./secciones/footer";

/* Secciones de la página PROYECTO3 */
@import "./secciones/header";
@import "./secciones/Proyecto3Banner";
@import "./secciones/ProyectoDescripcion";
@import "./secciones/Proyecto3GridGaleria";
@import "./secciones/calltoaction";
@import "./secciones/footer";

/* Secciones de la página PROYECTO4 */
@import "./secciones/header";
@import "./secciones/Proyecto4Banner";
@import "./secciones/ProyectoDescripcion";
@import "./secciones/Proyecto4GridGaleria";
@import "./secciones/calltoaction";
@import "./secciones/footer";

/* BOOTSTRAP */
@import "./secciones/Bootstrap";

/* Medias Queries */
/* Para Tablets ---------*/
@media screen and (max-width: 768px) {
  /* General */
  p {
    font-size: 15px;
  }

  /* Banner */
  .bannerServicios {
    width: 100%;
    height: 30vh;
  }

  /* Sección de servicios */
  .servicio {
    img {
      width: 50%;
    }
    .servicio__descripcion {
      width: 50%;
    }
  }
}

/* Para Celulares --------- */
@media screen and (max-width: 480px) {
  /* General */
  p {
    font-size: 14px;
  }
  /* Banner */
  .bannerServicios {
    width: 100%;
    height: 30vh;
  }
  /* Seccion de servicios */
  .servicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      order: -1;
    }
    .servicio__descripcion {
      width: 100%;
      flex: 0;
      .servicio__titulo {
        padding-top: 20px;
      }
    }
  }
  /* Footer */
  .footer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    .logoFooter {
      width: 80vw !important;
      text-align: center;
      padding-top: 20px;
      padding: 0;
      img {
        width: 150px;
      }
    }
    .links {
      width: 80vw !important;
      text-align: center;
      padding-top: 20px;
    }
    .horario {
      width: 80vw !important;
      text-align: center;
      padding-top: 20px;
    }
    .suscribete {
      width: 80vw !important;
      text-align: center;
      padding-top: 20px;
    }
  }
}
