@import "./variables/fonts";
@import "./variables/colores";
@import "./variables/reset";
@import "./secciones/header";
@import "./secciones/banner";
@import "./secciones/servicios";
@import "./secciones/calltoaction";
@import "./secciones/footer";

/* titulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontPhilomene;
}

/* botones */
.boton {
  background-color: $ColorPrincipal;
  border: none;
  padding: 10px;
  border-radius: 10px;
  a {
    background-color: $ColorPrincipal;
    text-decoration: none;
    color: $ColorTexto;
    font-family: $fontPhilomene;
  }
}
