/* Extend Placeholder */
%DisplayFlexRow{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  %DisplayFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }