/* Formulario */
main {
  .contactanosTitulo {
    text-align: center;
    font-size: 40px;
    overflow: hidden;
  }
  .contactanosDescripcion {
    text-align: center;
    overflow: hidden;
  }
  section {
    .contactanosInfo {
      text-align: center;
      overflow: hidden;
    }
    .contactanosForm {
      text-align: center;
      overflow: hidden;
    }
  }
}
