footer {
  .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .logoFooter {
      width: 20%;
      margin-inline: 10px;
    }
    .links {
      width: 20%;
      margin-inline: 10px;
      .links__titulo {
        padding-bottom: 5px;
        font-size: 20px;
      }
      .links__menu {
        list-style-type: none;
        padding-left: 0px;
        .links__menu__item {
          padding-block: 2.5px;
          a {
            color: $ColorTexto;
            text-decoration: none;
            /* Cambia el color del menú y quita el underline */
          }
        }
      }
    }
    .horario {
      width: 20%;
      margin-inline: 10px;

      .horario__titulo {
        padding-bottom: 5px;
        font-size: 20px;
      }
    }
    .suscribete {
      width: 20%;
      margin-inline: 10px;

      .suscribete__titulo {
        padding-bottom: 5px;
        font-size: 20px;
      }
    }
  }
  .iconos {
    @extend %DisplayFlexRow;
    gap: 0.7rem;
    .fab {
      padding: 0.5rem;
      font-size: 20px;
    }
  }
  .copy {
    text-align: center;
    font-size: 10px;
  }
}

$redesSociales:(
  facebook:rgb(28, 118, 229),
  instagram:rgb(243, 132, 213),
  whatsapp:rgb(71, 202, 71),
  twitter:skyblue,
  youtube:rgb(234, 82, 82)
);

@each $redsocial, $color in $redesSociales {
  .fa-#{$redsocial}{
    border: 2px $color dashed;
    border-radius: 5px;
  }
}  

@each $redsocial, $color in $redesSociales {
  .fa-#{$redsocial}:hover{
    background-color: map-get($redesSociales, $redsocial );
  }
}  