/* Mixin para las medidas de los banners */
@mixin medidas($ancho, $alto) {
  width: $ancho;
  height: $alto;
}

/* Banner - INDEX */
.bannerPrincipal {
  @include medidas(100%, 70vh);
  background-image: url("../imagenes/Banner_Principal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @extend %DisplayFlexRow;

  .bannerPrincipal__contenedor {
    background-color: $ColorBackgroundOpacidad;
    border-radius: 10px;
    padding: 30px;
    @extend %DisplayFlexColumn;
    text-align: center;

    .bannerPrincipal__titulo {
      padding-bottom: 15px;
      background-color: rgba(0, 0, 0, 0);
      font-family: $fontPhilomene;
      font-size: 40px;
    }
    .bannerPrincipal__texto {
      padding-bottom: 15px;
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
