/* Propuesta de Valor */
.propuestaDeValor {
  width: 70%;
  margin-inline: 15%;
  margin-block: 50px;
  text-align: center;
  .propuestaDeValor__titulo {
    padding-bottom: 20px;
  }
  .propuestaDeValor__texto {
    padding-bottom: 20px;
  }
}
