.portafolio {
  padding: 20px 40px 20px 40px;
  border: 3px black dashed;
  border-radius: 10px;
  width: 80%;
  margin-inline: 10%;
  margin-block: 50px;
  .portafolio__titulo {
    text-align: center;
    padding-bottom: 20px;
  }
  .accordion {
    .portafolio__contenedor {
      display: flex;
      align-items: center;
      img {
        width: 80%;
        height: auto;
        border-radius: 10px;
      }
      .portafolio__descripcion {
        padding: 40px;
        text-align: center;
        width: 90%;
        .portafolio__proyecto {
          padding-bottom: 20px;
        }
        .portafolio__texto {
          padding-bottom: 20px;
        }
      }
    }
  }
}
