/* Nuestro equipo de trabajo */
.equipoDeTrabajo{
.equipoDeTrabajo__titulo {
  text-align: center;
  padding-bottom: 20px;
}
.equipoDeTrabajo__contenedor {
  width: 80vw;
  margin-inline: 10vw;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "persona1 persona2 persona3";

  .equipoDeTrabajo__persona {
    @extend %DisplayFlexColumn;
    text-align: center;
    padding-inline: 25px;
    div {
      img {
        width: 80%;
        border-radius: 50%;
        overflow: hidden;
      }
    }
    h3 {
      padding-top: 20px;
      overflow: hidden;
    }
    p {
      padding-top: 20px;
      overflow: hidden;
    }
  }
}
.persona1 {
  grid-area: persona1;
  div {
    img {
      -webkit-animation: roll-in-left 0.6s ease-out both;
      animation: roll-in-left 0.6s ease-out both;
      animation-delay: 2.5s;
    }
  }
}
}

.persona2 {
  grid-area: persona2;
  div {
    img {
      -webkit-animation: roll-in-left 0.6s ease-out both;
      animation: roll-in-left 0.6s ease-out both;
      animation-delay: 2s;
    }
  }
}

.persona3 {
  grid-area: persona3;
  div {
    img {
      -webkit-animation: roll-in-left 0.6s ease-out both;
      animation: roll-in-left 0.6s ease-out both;
      animation-delay: 1.5s;
    }
  }
}

/* Animista - Animacion Roll-in */
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
