/* Grid Galería 3 */
.gridGaleria3 {
  width: 80vw;
  margin-inline: 10vw;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "G3F1 G3F1 G3F2 G3F2"
    "G3F1 G3F1 G3F2 G3F2"
    "G3F3 G3F3 G3F4 G3F4"
    "G3F3 G3F3 G3F5 G3F5";
  .galeria {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .G3F1 {
    grid-area: G3F1;
  }

  .G3F2 {
    grid-area: G3F2;
  }

  .G3F3 {
    grid-area: G3F3;
  }

  .G3F4 {
    grid-area: G3F4;
  }

  .G3F5 {
    grid-area: G3F5;
  }
}
